body
{
    background-color: orange;
}

img
{
    content: url("pjes.png");
    width: 343px;
    content: url("png-transparent-paw-patrol-dog-dog-image-file-formats-animals-cartoon-thumbnail.png");
    width: 343px;

}

p 
{
 
    background-color: blueviolet;
color: magenta;
font-weight: bolder; 
font-size: larger;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
